body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #000000, #333333);
    color: #ffffff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    font-size: 2.5em;
    font-weight: 600;
}

nav a {
    display: block;
    margin: 10px auto;
    padding: 12px 20px;
    width: 250px;
    text-decoration: none;
    color: white;
    background: #444;
    border-radius: 8px;
    transition: background 0.3s, transform 0.2s;
    font-size: 1.1em;
    font-weight: 500;
}

nav a:hover {
    transform: scale(1.05);
}

nav a[href="exercicio01.html"] {
    background-color: #1abc9c;
}
nav a[href="exercicio01.html"]:hover {
    background-color: #16a085;
}

nav a[href="exercicio02.html"] {
    background-color: #3498db;
}
nav a[href="exercicio02.html"]:hover {
    background-color: #2980b9;
}

nav a[href="exercicio03.html"] {
    background-color: #9b59b6;
}
nav a[href="exercicio03.html"]:hover {
    background-color: #8e44ad;
}

nav a[href="exercicio04.html"] {
    background-color: #e67e22;
}
nav a[href="exercicio04.html"]:hover {
    background-color: #d35400;
}

nav a[href="exercicio05.html"] {
    background-color: #e74c3c;
}
nav a[href="exercicio05.html"]:hover {
    background-color: #c0392b;
}
